html {
  background-color: #4e1d50;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(8, 7, 7);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

td,
th {
  border: 2px solid #f6d5f78a;
  padding: 5px 10px;
  color: #f6d5f78a;
  background-color: #f6d5f78a;
  font-size: x-large;
}

td {
  text-align: center;
  width: 196px;
  height: 112px;
}

th {
  font-weight: bold;
}

#logo:hover {
  max-width: 211.2px;
  max-height: 118.8px;
}

#logo {
  opacity: 1;
  transition: max-width 0.2s linear 0s;
  transition: max-height 0.2s linear 0s;
  max-width: 192px;
  max-height: 108px;
}

#kittyDiv {
  width: 196px;
  height: 112px;
}

#kittyPic {
  max-width: 192px;
  max-height: 108px;
}

#title {
  position: left;
  display: inline;
  color: #f6d5f7;
}

p.text {
  font-weight: bold;
  color: #f6d5f78a;
  padding: 20px 20px 20px 20px;
  width: 290px;
}

button {
  font-weight: bold;
  background-color:#f6d5f78a;
  border: none;
  color: #f6d5f7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  outline-color: #000000;
}

button:hover {
  outline: auto;
}

button:active {
  outline-color: #000000;
}

#titleDiv {
  margin: 20px 20px 20px 20px;
}

#spielDiv {
  margin: 20px 20px 20px 20px;
  border: 2px solid #f6d5f78a;
  border-radius: 16px;
  width: 330px;
}

#buttonsDiv {
  margin: 20px 20px 20px 20px;
}

#tableDiv {
  margin: 20px 20px 20px 20px;
}

span.long-text {
  display: none;
}

.expanded-text:hover span.short-text {
  display: none;
}

.expanded-text:hover span.long-text {
  display: block;
  border: #f6d5f78a;
  border-radius: 5px;
}
